body {
    background-image: url(images/background.png);
    background-size: cover;
}

.container {
    margin: 255px auto 0;
    width: 404px;
    height: 465px;
    border: 1px solid #000000;
    padding: 30px 40px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: #ffffff;
    border: none;
}

.form-logo {
    display: flex;
    flex-direction: row;
}

.form-heading {
    font-size: 20px;
}

.green-square {
    width: 18px;
    height: 18px;
    /*left: 0px;
    top: 31px;*/


    background: #3CB878;
}

.buttonset {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn {
    width: 160px;
    padding: 16px 0;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    outline: none;
}

.btn-blue {
    background-color: #305DB8;
    background-image: url(images/facebook-logo.png) cover / no-repeat;
}

.btn-red {
    background-color: #DF4A32;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.input {
    border-radius: 4px;
    padding: 16px 0 16px 20px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    transition: all 0.3s;
    outline: none;
}

.input:last-of-type {
    margin-bottom: 30px;
}

.btn-fullwidth {
    width: 100%;
}

.btn-green {
    background-color: rgba(60, 184, 120, 0.8);
}

.input:focus {
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
