body {
    font-family: 'Marvel', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    font-family: 'Open Sans', sans-serif;
    color: #202020;
}

.heading {
    text-align: center;
    margin-top: 100px;

    font-size: 28px;
}

.form {
    margin-top: 100px;
    position: relative;
    left: 50%;
    transform: translate(-20%, -20%);

    display: block;
}

.genre-item-btn {
    margin-left: 5px;
}

.submit-btn {
    position: relative;
    left: 15%;

    margin-top: 50px;
    padding: 10px 20px;
}

.result {
    display: flex;
}

.descr-col {
    display: flex;
    flex-direction: column;
}

.descr-col {
    margin-left: 20px;
}

#tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;

    transition: all 3s;
}

.tag {
    margin: 40px 50px;
    width: 130px;
    height: 40px;

    padding-top: 8px;

    font-size: 23px;
    color: #fff;
    background-color: #202020;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    font-family: 'Marvel', sans-serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s;
}

.tag.active {
    outline: 5px solid orange;
}

main {
    /* display: none; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    z-index: 1;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position:relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

/* .pagination {
    display: none;
} */

/* Submit Btn */

.submit-btn {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
    width: 147px;
    height: 52px;
    background: #fff;
    border: 3px solid #21ebff;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: default;
    background: linear-gradient(to right, #21ebff 0%, #21ebff 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}

.submit-btn:hover {
    background-position: 0 0;
    box-shadow: 0px 5px 20px 0px #21ebff; 
}

.submit-btn-arrow {
    display: inline-flex;
    position: relative;
    width: 0;
    height: 20px;
    cursor: default;
    margin-top: 3px;
}

.submit-btn-arrow:before,
.submit-btn-arrow:after {
    display: inline-flex;
    position: absolute;
    content: '';
}

.submit-btn-arrow:before {
    top: 9px;
    right: -50px;
    width: 40px;
    height: 3px;
    background-color: #21ebff;
    transition: all 0.6s;
}

.submit-btn-arrow:after {
    width: 15px;
    height: 15px;
    top: 2px;
    right: -51px;
    border-top: 3px solid #21ebff;
    border-right: 3px solid #21ebff;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.submit-btn:hover .submit-btn-arrow:before {
    background-color: #fff;
}

.submit-btn:hover .submit-btn-arrow:after {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

/* Desired Actor */

.actor-form {
    position: absolute;
    padding: 10px 0 0 0;
    width: 40%;
    left: 50%;
    top: 35%;
    transform: translate(500%, -50%);
    transition: all 2s;
    cursor: default;
}

.actor-form-input {
    font-family: 'Marvel', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #202020;
    outline: 0;
    font-size: 26px;
    color: #202020;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.4s;
}

.actor-form-input::placeholder {
    color: transparent;
}

.actor-form-input:placeholder-shown+.actor-form-label {
    font-size: 26px;
    cursor: text;
    top: 20px;
}

.actor-form-label {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    color: #202020;
    font-size: 24px;
    font-family: 'Marvel', sans-serif;
}

.actor-form-input:focus+.actor-form-label {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    color: #21ebff;
    font-size: 24px;
}

.actor-form-input:focus {
    border-bottom: 2px solid #21ebff;
}

.actor-form-span {
    -webkit-user-select: none;
    user-select: none;
}

/* Skip Checkbox */

.skip-checkbox {
    margin-top: 60px;
    text-align: center;
}

.skip-checkbox-input {
    display: none;
}

.skip-checkbox-label {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    transform: translate3d(0, 0, 0);
}

svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #C8CCD4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
}

path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

polyline:hover,
polyline:before polyline:after {
    opacity: 1;
}

svg {
    stroke: #21ebff;
}

.skip-checkbox-input:checked+.skip-checkbox-label svg {
    stroke: #21ebff;
}

.skip-checkbox-input:checked+.skip-checkbox-label path {
    stroke-dashoffset: 60;
    transition: all .3s linear;
}

.skip-checkbox-input:checked+.skip-checkbox-label polyline {
    stroke-dashoffset: 42;
    transition: all .2s linear;
    transition-delay: .15s;
}

.skip-checkbox-span {
    margin-left: 7px;

    -webkit-user-select: none;
    user-select: none;

    font-family: 'Marvel', sans-serif;
    font-size: 26px;
    color: #202020;
}